<mat-toolbar color="primary">
    <span>
      <img src="https://dynamic.brandcrowd.com/asset/logo/303e75cc-d38a-4f94-92fd-4be6c8a694f3/logo-search-grid-desktop?v=637266031326500000" height="50px" width="50px" class="angular-logo">
       
    </span>
    <span class="fill-remaining-space"></span>
    <button mat-button mat-raised-button (click)="openDialog()" routerLink="/login">Login</button>
    <button mat-button routerLink="/grid">HOME</button>
    <button mat-button routerLink="/drag">CARTs</button>
    <button mat-button>Deleted</button>
    <button mat-button>Bill</button>

    <!----<button mat-button (click)="onLogout()">Logout</button>-->
</mat-toolbar>
<br><br>